Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your account at MB Vogue.

Please click on the following link to reset your password:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you didn't request this password reset, you can safely ignore this email.

Thanks for shopping with MB Vogue!

Best regards,
MB Vogue Team
