{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'core:home' %}">
            <i class="bi bi-handbag"></i> MB Vogue
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:product_list' %}">Shop</a>
                </li>
            </ul>

            <!-- Search Form -->
            <form class="d-flex me-3" action="{% url 'core:product_list' %}" method="get">
                <input class="form-control me-2" type="search" name="q" placeholder="Search products..." value="{{ search_query }}">
                <button class="btn btn-outline-light" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i> {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:order_history' %}">My Orders</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">
                            <i class="bi bi-person-plus"></i> Register
                        </a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{% url 'core:wishlist' %}">
                        <i class="bi bi-heart"></i>
                        {% if user.wishlist %}
                            <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ user.wishlist.get_items_count }}
                            </span>
                        {% endif %}
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link position-relative" href="{% url 'core:cart_detail' %}">
                        <i class="bi bi-cart3"></i>
                        {% if cart_total_items > 0 %}
                            <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ cart_total_items }}
                            </span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
