{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Edit Profile - MB Vogue{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Edit Profile</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Phone</label>
                                {% render_field form.phone class="form-control" %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Date of Birth</label>
                                {% render_field form.date_of_birth class="form-control" %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            {% render_field form.address class="form-control" %}
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">City</label>
                                {% render_field form.city class="form-control" %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">State</label>
                                {% render_field form.state class="form-control" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Postal Code</label>
                                {% render_field form.postal_code class="form-control" %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Country</label>
                                {% render_field form.country class="form-control" %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Profile Picture</label>
                            {% render_field form.profile_picture class="form-control" %}
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <a href="{% url 'users:profile' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
